#ninjas-icon{
    height:100%;
    width:60px;
    background-color: blue;
}
#ninjas-icon i{
    height:60px;
    width:60px;
}
.display{
    border:2px dashed black;
    height:10vh;
    width:100vh;
    position:fixed;
    background-color: cornflowerblue;
}