*{
    box-sizing: border-box;
}
body{
    margin:0px;
    
}
#body-header{
    height:60vh;
    opacity:0.8;
    background-image: url(jass.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.1rem;
}
.horiz-list{
    list-style: none;
    padding-left: 0px;
    font-size:40px;
    margin:0px;
}
.horiz-list li a:hover{
    color:lightgrey;
    
}
.horiz-list li{
    display: inline-block;
    margin:0px 15px 15px 0px;
}
.horiz-list li a{
    color:white;
    text-decoration: none;
}
.center{
    text-align: center;
}
#name{
    margin-top:20vh;
}
#myname{
    font-size: 3rem;
    letter-spacing : 0.1rem;
    color:white;
    font-weight:700;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
}
#social-app li a img{
    height:35px;
    width:35px;
    padding: 10px;
    border-radius:50% ;
}
#social-app li a img:hover{
    box-shadow: 0px 0px 6px 4px white;
}
#nav-menu li a{
    transition: color 0.5s, border-bottom 1s;

}
#nav-menu li a :hover{
    color:lightgrey;
    border-bottom: 1px solid white;
}
#image{
    height:15rem;
    width:15rem;
    margin:auto;    
    margin-top:-17vh;
    position:relative;
}
#image img{
    height:100%;
    width:100%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px white;
}
#text-center{
    margin:0px 90px;
    text-align: justify;
}
.section-head{
    font-size: 2rem;
    font-weight: 900;
    color:blue;
    
}
section{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    /* padding-left: 6rem; */
    padding-right: 6 rem;
}


section:nth-child(2n){
    background-color: lavender;
}
section:nth-child(2n){
    background-color: lightgray;
}
.section-heading{
    width:80vw;
    padding:20px 10px 10px;
    font-weight:400;
    margin:auto;
}
.section-heading span{
    font-size:40px;
    color:#2857a4;
    display:inline-block;
    padding-top: 10px;
    margin-right:0.5 rem;
}
.skills-display{
    width:70%;
    display:flex;
    align-self:center;
    flex-wrap:wrap;
    justify-content: space-between;
}
.skill-progress{
    width:7rem;
    height:1.4rem;
    background-color: white;
    border-radius:0.8rem;
    margin-top:2rem;
}
.skill-name span{
    color:white;
    font-size: 1 rem;
    margin-left:5px;
    
    
}
.skill-progress>div{
    border-radius:0.8rem;
}
.timeline{
    position:relative;
    width: 100%;
    height:20%;

}
.timeline-box{
    position:relative;
    margin:5px;
    width:40%;
    left:5%;
    font-size:1rem;
    text-align: justify;
    min-height:150px;

}
.timeline-divider{
    position:absolute;
    height: 90%;
    width:0%;
    border:2px dashed gray;
    top:6%;
    left:50%;
}
.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top:25%;
    right:-12.6%;
    border-radius: 50%;
    width:0.5rem;
    height:0.5rem;
    background-color:gold;
    z-index: 1;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top:30%;
    left:-1.4%;
    border-radius: 50%;
    width:0.5rem;
    height:0.5rem;
    background-color:gold;
    z-index: 1;
}
.timeline-box:nth-child(2n){
    left:50%;
}
.timeline-traveller{
    position:sticky;
    top:30%;
    z-index: 2;
    margin: auto;
}
.timeline-traveller i{
    position: relative;
    right: 12px;
}
.experience{
    font-size: 1.6rem;
    width:100%;
    color: indianred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#gradient{
    /* background-image: linear-gradient(55deg,blue, darkblue ,purple 85%); */
    height:100vh;
    width:100%;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#contact{
    background-image: linear-gradient(55deg,blue, darkblue ,purple 85%);
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight:bold;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    
}
.loginbox input{
    width:100%;
    margin-bottom:20px;
}
.loginbox input[type="text"],input[type="password"]{
    border:none;
    border-bottom:1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    margin-top:45px;
}
.loginbox input[type="submit"]{
    height:40px;
    width:30%;;
    background-color:grey;
    font-size:1.5rem;
    font-family: monospace;
    font-weight:bold;

}
.loginbox input[type="submit"]:hover{
    background-color: white;
}
.loginbox input[placeholder]{
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;

}
.class-section{
    width:40%;
}
#gradient aside h2{
    font-size:1.8rem;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex{
    display:flex;
    height: 60vh;
    transition:0.5s;
    margin-top:15px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item1{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    height: 40%;
    position: relative;
}
.item :not(img){
    position: absolute;
    z-index:1;
    color:#fff;
    text-align: center;
    width: 100%;
    
}
.item1 img{
    height:100%;
    width: 100%;
    transition:0.5s;
    background-size: contain;
}
.item1:hover img{
    filter:blur(2px) brightness(60%);
}
.item1 img:after{
    content:attr(data-text);
    position:absolute;
    word-wrap:break-word;
    background-color: rgba(0,0 , 0,0.6);
    color:#fff;
    padding:8px;
    opacity:0;
    transition:0.5s;
}
.flex:hover:after{
    opacity: 1;
}


.image-text{
    position: relative;
    height:100%;
    width: 100%;
    visibility: hidden;
}

.image-text{
    position: absolute;
    text-align: center;
    top:20%;
}

.item1:hover .image-text{
    visibility: visible;
}


.eighty-percent{
    background-color:blue;
    color:white;
    width:85%;
    height:inherit;
}
.sixty-percent{
    background-color:blue;
    color:white;
    width:60%;
    height:inherit;
}
.forty-percent{
    background-color:blue;
    color:white;
    width:40%;
    height:inherit;
}
