.container{
    display:flex;
    border:4px solid black;
    flex-direction:row;
    flex-wrap:wrap;
    height:800px;
    
}
.item{
    color:white;
    padding:1rem;
    font-size:1rem;
}

.item1{
    background-color: tomato;
}
.item2{
    background-color: gold;
}
.item3{
    background-color: royalblue;
}
.item4{
    background-color: forestgreen;
}
.item5{
    background-color: fuchsia;
}
.item6{
    background-color: plum;
}
.item7{
    background-color: yellowgreen;
}
.item8{
    background-color: navy;
}